
/*layout*/

.container, .wrap-game{
    height: 100%;
}
.wrap-game{
    width: 820px;
    margin: 0 auto;
}
.wrap-main,.wrap-left, .wrap-right{
    height: calc(100% - 44px)
}




/*header*/

.wrap-header{
    height: 44px;
    padding: 0 14px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #911c33;
    color: #fff;
}
.pause{
    padding: 0 4px;
}


/*main*/

.wrap-main{
    background: #ebe6e7;
    display: flex;
    justify-content: space-between;
}
.wrap-left, .wrap-right{
    background: #ded5d6;
    width: 100px;
    height: 100%;
}
div[class^=center-area], .three-cards{
    width: 60px;
    position: relative;
}
.wrap-center{
    padding-top: 20px;
    display: flex;
    justify-content: center;
    gap:16px;
    flex-grow: 1;
}
.wrap-right{
    display: flex;
    flex-direction: column;
    gap: 14px;
    align-items: center;
    padding-top: 20px;
}

.left-area{
    padding-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 14px;
}

/*right*/

.spade-area, .heart-area, .diamond-area, .clover-area{
    width: 60px;
    height: 90px;
    border: 2px solid white;
    background: rgba(255,255,255,0.5);
    display: flex;
    justify-content: center;
    align-items: center;
}


/*card*/

img:not([class^=empty-card]){
    width: 60px;
}

.wrap-left img, .wrap-center img {
    box-shadow: 1px 1px 5px #ada4a4;
}

[class^=empty-card]{
    width: 34px;
}
.empty-card1, .empty-card3{
    margin-top: -2px;
}
.empty-card2{
    margin-bottom: -2px;
}

div[class^=center-area] img,
.three-cards img{
    position: absolute;
}
